<link rel="stylesheet" href="/assets/dist/css/printTable.css"/>
<div class="content-wrapper">
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark"> <b> {{title}} </b> </h1>
                    {{#if status}}
                    <h4 class="m-0 text-{{statusColor}}"> {{status}}  </h4>
                    {{/if}}
                </div>
            </div>
    </div>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                        <a href="/pstjMemberCreate" class="btn btn-primary"> Tambah Group Persetujuan Member</a>
                        <table id="dataTables" class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>No</th>
                                    <th>Nama Group</th>
                                    <th>Untuk Permasalahan</th>
                                    <th>Member</th>
                                </tr>
                            </thead>
                            <tbody>
                                {{#each dataPersetujuan}}
                                <tr>
                                    <td>{{inc @index}}</td>
                                    <td>{{this.nama_group}}</td>
                                    <td>{{this.untuk_permasalahan}} ({{this.alias_permasalahan}})</td>
                                    <td> 
                                        {{#each ../dataPstjMember}} 
                                            {{#if_equal ../this.id this.persetujuan_id}}
                                                   <a title="edit" href="/pstjMemberEdit/{{this.id}}"> <i class="far fa-user">{{this.email}}</i> &nbsp; </a>
                                            {{/if_equal}}
                                        {{/each}}
                                    </td>
                                </tr>
                                {{/each}}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>


{{#section 'custom_script'}}
    <script>
        $('#dataTables').DataTable({
        "paging": true,
        "lengthChange": false,
        "searching": true,
        "ordering": true,
        "autoWidth": false,
        "pageLength": 25
        });

    </script>
{{/section}}