<link href="/node_modules/summernote-0.8.18/dist/summernote.min.css" rel="stylesheet">
<script src="/node_modules/summernote-0.8.18/dist/summernote.min.js"></script>

<div class="content-wrapper">
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <a href="/epicaList" class="btn btn-primary"> Back </a>
                    <br><br>
                    <h1 class="m-0 text-dark">{{title}}</h1>
                </div>
            </div>
        </div>
    </div>

<div class="row justify-content-center">
    <div class="col-lg-11" style="margin-top: 1px;">
        <div class="card">
            <div class="card-body">
                <div class="text-center">
                    <img src="/assets/dist/img/logo.png"
                    class="rounded" alt="logo">
                    <p class="font-weight-bold" style="margin-top: 50px; ">FORM PROBLEM IDENTIFICATION & CORRECTIVE ACTION</p>
                </div>

                <form method="POST" action="/StatusThreeAddUpdate">
                    <div class="form-group row">
                        <div class="col-sm-1">No</div>
                        <div class="col-sm-6">: {{dataEpicaMaster.no_pica}}</div>
                    </div>   
                    <div class="form-group row">
                        <div class="col-sm-1" >Bagian</div>
                        <div class="col-sm-6">: {{dataEpicaMaster.nama_department}}</div>
                    </div>
                    <fieldset class="form-group">
                    <div class="row">
                        <legend class="col-form-label col-sm-3 pt-0">Ketidaksesuaian diangkat dari : </legend>
                        <div class="col-sm-9">
                            {{#each dataPersetujuan}}
                                <div class="custom-control custom-radio custom-control-inline">
                                    <input class="custom-control-input" type="radio" name="persetujuan_id" id="inlineRadio{{inc @index}}" value="{{this.id}}" required>
                                    <label class="custom-control-label" for="inlineRadio{{inc @index}}">{{this.untuk_permasalahan}}</label>
                                </div>
                            {{/each}}
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-body">
                            <div id="desc" class="border border-dark">
                                <div style="margin: 10px;">
                                    <label for="desclabel">Deskripsi Masalah/Potensial Masalah :</label>
                                    <p>{{{dataEpicaMaster.deskripsi_masalah}}}</p>

                                    <div class="row justify-content-end">
                                        <div class="col-6 col-sm-3 border border-dark">
                                            <p class="text-center">Pelaksana</p>
                                            <p name="pelaksana" style="text-align:center">{{dataEpicaMaster.pelaksana_fullname}}</p>
                                        </div>
                                        <div class="col-6 col-sm-3 border border-dark">
                                            <p class="text-center">Pengusul</p>
                                            <p name="pengusul" style="text-align:center">{{dataEpicaMaster.pengusul_fullname}}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="akar" class="border border-dark">
                                <div style="margin: 10px;">
                                    <label for="akar">Akar Masalah :</label>
                                    <p>{{{dataEpicaMaster.akar_masalah}}}</p>
                                </div>
                            </div>
                            <table class="table table-bordered text-center">
                                <thead>
                                    <tr>
                                        <th scope="col" style="text-align: center;">No</th>
                                        <th scope="col" style="text-align: center;">Tindakan Koreksi/Pencegahan</th>
                                        <th scope="col" style="text-align: center;">PIC</th>
                                        <th scope="col" style="text-align: center;">Batas Waktu</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <!-- tindakan 1 -->
                                    <tr>
                                        <td scope="row" style="text-align: center;" class="align-middle" name=""> 1 </td>
                                        <td class="align-middle">
                                            <div class="form-group" >
                                                {{#if dataEpicaDetails.[0].tindakan_koreksi}}
                                                    {{{dataEpicaDetails.[0].tindakan_koreksi}}}
                                                    <textarea style="display:none;" id="" name="tindakan_1"> {{dataEpicaDetails.[0].tindakan_koreksi}} </textarea>       
                                                {{else}}
                                                    <textarea id="tindakan_1" name="tindakan_1"></textarea>        
                                                {{/if}}
                                            </div>
                                        </td>
                                        <td style="text-align: center;" class="align-middle">
                                            <p align="center">
                                                {{#unless dataEpicaDetails.[0].pic_user_id}}
                                                    <select name="user_id_1" class="form-control">
                                                    <option value="0"> none </option>    
                                                    {{#each dataUser}}
                                                    <option value="{{this.id}}"> {{this.fullname}} </option>
                                                    {{/each}}
                                                    </select>
                                                {{else if (eq dataEpicaDetails.[0].pic_user_id "0")}}
                                                    <select name="user_id_1" class="form-control">
                                                    <option value="0"> none </option>    
                                                    {{#each dataUser}}
                                                    <option value="{{this.id}}"> {{this.fullname}} </option>
                                                    {{/each}}
                                                    </select>
                                                {{else}}
                                                    {{dataEpicaDetails.[0].fullname}}
                                                {{/unless}}
                                            </p>
                                        </td>
                                        <td class="align-middle">
                                            {{#if dataEpicaDetails.[0].batas_waktu}}
                                                <input readonly autocomplete="off" type="text"  id="" name="batas_waktu_1" value="{{dataEpicaDetails.[0].batas_waktu}}"/>   
                                            {{else}}
                                                <input autocomplete="off" type="text"  id="batas_waktu_1" name="batas_waktu_1" value=""/>   
                                            {{/if}}
                                        </td>
                                        {{#if dataEpicaDetails.[0].id}}
                                            <input type="hidden" name="details_id_1" value="{{dataEpicaDetails.[0].id}}">
                                        {{else}}
                                            <input type="hidden" name="details_id_1" value="0">
                                        {{/if}}
                                    </tr>

                                    <!-- tindakan 2 -->
                                    <tr>
                                        <td scope="row" style="text-align: center;" class="align-middle" name=""> 2 </td>
                                        <td class="align-middle">
                                            <div class="form-group" >
                                                {{#if dataEpicaDetails.[1].tindakan_koreksi}}
                                                    {{{dataEpicaDetails.[1].tindakan_koreksi}}}
                                                    <textarea style="display:none;" id="" name="tindakan_2"> {{dataEpicaDetails.[1].tindakan_koreksi}} </textarea>       
                                                {{else}}
                                                    <textarea id="tindakan_2" name="tindakan_2"></textarea>        
                                                {{/if}}
                                            </div>
                                        </td>
                                        <td style="text-align: center;" class="align-middle">
                                            <p align="center">
                                                {{#unless dataEpicaDetails.[1].pic_user_id}}
                                                    <select name="user_id_2" class="form-control">
                                                    <option value="0"> none </option>    
                                                    {{#each dataUser}}
                                                    <option value="{{this.id}}"> {{this.fullname}} </option>
                                                    {{/each}}
                                                    </select>
                                                {{else if (eq dataEpicaDetails.[1].pic_user_id "0")}}
                                                    <select name="user_id_2" class="form-control">
                                                    <option value="0"> none </option>    
                                                    {{#each dataUser}}
                                                    <option value="{{this.id}}"> {{this.fullname}} </option>
                                                    {{/each}}
                                                    </select>
                                                {{else}}
                                                    {{dataEpicaDetails.[1].fullname}}
                                                {{/unless}}
                                            </p>
                                        </td>
                                        <td class="align-middle">
                                            {{#if dataEpicaDetails.[1].batas_waktu}}
                                                <input readonly autocomplete="off" type="text"  id="" name="batas_waktu_2" value="{{dataEpicaDetails.[1].batas_waktu}}"/>   
                                            {{else}}
                                                <input autocomplete="off" type="text"  id="batas_waktu_2" name="batas_waktu_2" value=""/>   
                                            {{/if}}
                                        </td>
                                        {{#if dataEpicaDetails.[1].id}}
                                            <input type="hidden" name="details_id_2" value="{{dataEpicaDetails.[1].id}}">
                                        {{else}}
                                            <input type="hidden" name="details_id_2" value="0">
                                        {{/if}}
                                    </tr>

                                    <!-- tindakan 3 -->
                                    <tr>
                                        <td scope="row" style="text-align: center;" class="align-middle" name=""> 3 </td>
                                        <td class="align-middle">
                                            <div class="form-group" >
                                                {{#if dataEpicaDetails.[2].tindakan_koreksi}}
                                                    {{{dataEpicaDetails.[2].tindakan_koreksi}}}
                                                    <textarea style="display:none;" id="" name="tindakan_3"> {{dataEpicaDetails.[2].tindakan_koreksi}} </textarea>       
                                                {{else}}
                                                    <textarea id="tindakan_3" name="tindakan_3"></textarea>        
                                                {{/if}}
                                            </div>
                                        </td>
                                        <td style="text-align: center;" class="align-middle">
                                            <p align="center">
                                                {{#unless dataEpicaDetails.[2].pic_user_id}}
                                                    <select name="user_id_3" class="form-control">
                                                    <option value="0"> none </option>    
                                                    {{#each dataUser}}
                                                    <option value="{{this.id}}"> {{this.fullname}} </option>
                                                    {{/each}}
                                                    </select>
                                                {{else if (eq dataEpicaDetails.[2].pic_user_id "0")}}
                                                    <select name="user_id_3" class="form-control">
                                                    <option value="0"> none </option>    
                                                    {{#each dataUser}}
                                                    <option value="{{this.id}}"> {{this.fullname}} </option>
                                                    {{/each}}
                                                    </select>
                                                {{else}}
                                                    {{dataEpicaDetails.[2].fullname}}
                                                {{/unless}}
                                            </p>
                                        </td>
                                        <td class="align-middle">
                                            {{#if dataEpicaDetails.[2].batas_waktu}}
                                                <input readonly autocomplete="off" type="text"  id="" name="batas_waktu_3" value="{{dataEpicaDetails.[2].batas_waktu}}"/>   
                                            {{else}}
                                                <input autocomplete="off" type="text"  id="batas_waktu_3" name="batas_waktu_3" value=""/>   
                                            {{/if}}
                                        </td>
                                        {{#if dataEpicaDetails.[2].id}}
                                            <input type="hidden" name="details_id_3" value="{{dataEpicaDetails.[2].id}}">
                                        {{else}}
                                            <input type="hidden" name="details_id_3" value="0">
                                        {{/if}}
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                        <br>
                        <br>
                    <input type="hidden" name="pica_master_id" value="{{dataEpicaMaster.id}}">
                    <input type="hidden" id="pathname" name="pathname" value="">
                    
                    <input type="submit" class="btn btn-primary float-right" style="margin-left:10px">
                       
                    <a href="/changeStatusThree/{{dataEpicaMaster.id}}" class="btn btn-primary float-right"> Go To Verifikasi</a>
                </form>
            </div>
        </div>
    </div>
</div>

</div>
{{#section 'custom_script'}}
<script>
    var status="{{status}}"
    var alias_masalah="{{dataEpicaMaster.alias_permasalahan}}"
    var akar_masalah="{{dataEpicaMaster.akar_masalah}}"
    var dataPersetujuan={{{persetujuanJSON}}}
    
    $(document).ready(function() {
        var path = window.location.pathname;
        $('#pathname').val(path);

        $('input[name=persetujuan_id]').attr("disabled",true);
        for (var i= 0; i < dataPersetujuan.length;i++ ) {
            if (alias_masalah == dataPersetujuan[i].alias_permasalahan )
                $("input[name=persetujuan_id][value=" + dataPersetujuan[i].id + "]").prop('checked', true);
        }

        $('#deskripsi_masalah').summernote({
            toolbar: false,
            disableDragAndDrop :true,
            disableResizeEditor: true,
            code: true
        });
        $('#deskripsi_masalah'). summernote('disable');

        $('#akar_masalah').summernote({
            toolbar: false,
            disableDragAndDrop :true,
            disableResizeEditor: true,
            code: true
        });
        $('#akar_masalah'). summernote('disable');


        for (var i=1 ; i< 4; i++){
            $("#tindakan_"+i).summernote();

            $("#batas_waktu_"+i).daterangepicker({
                singleDatePicker: true,
                showDropdowns: true,
                autoUpdateInput: false,
                locale: {
                    format: 'DD MMM YYYY'
                }
            });
            $("#batas_waktu_"+i).on('apply.daterangepicker', function(ev, picker) {
                $(this).val(picker.startDate.format('DD MMM YYYY'));
            });
        }
    });
</script>
{{/section}}